@{
    ViewBag.Title = "О компании";
}

@section navigation{
 <ul class="nav nav-pills nav-stacked" id="sidebar">
    <li class="">@Html.ActionLink("Прайс", "Index")</li>
     <li>@Html.ActionLink("Контакты", "Info")</li>
     <li class="active">@Html.ActionLink("О компании", "About")</li>
</ul>
}
  
<h2>О компании</h2>
<p>
    Компания располагает собственными складами-заводами в Череповце, Самаре, Липецке, <br />
    а так же есть несколько склад-заводов в Московской области.
</p>
<p>
    Самовывоз возможен с любого нашего завода.
    Так же возможна доставка (минимальная партия от 10тонн).
</p>