@{
    ViewBag.Title = "О компании";
}

@section navigation{
    <ul class="nav nav-pills">
        <li class="">@Html.ActionLink("Прайс", "Index")</li>
        <li class="active">@Html.ActionLink("О компании", "About")</li>
        <li class="">@Html.ActionLink("Контакты", "Info")</li>
        </ul>
}
  
<h2>О компании</h2>
