@{
    ViewBag.Title = "О компании";
}

@section navigation{
 <ul class="nav nav-pills nav-stacked" id="sidebar">
    <li class="">@Html.ActionLink("Прайс", "Index")</li>
     <li>@Html.ActionLink("Контакты", "Info")</li>
     <li class="active">@Html.ActionLink("О компании", "About")</li>
</ul>
}
  
<h2>О компании</h2>
