@{
    ViewBag.Title = "Контакты";
}

@section navigation{
<ul class="nav nav-pills nav-stacked" id="sidebar">
    <li class="">@Html.ActionLink("Прайс", "Index")</li>
    <li class="active">@Html.ActionLink("Контакты", "Info")</li>
    <li class="">@Html.ActionLink("О компании", "About")</li>
</ul>
}
<h2>Контакты</h2>

<address>
    <strong>Телефон:</strong><br>
    +7 (966) 002-88-05
</address>

<address>
    <strong>Электронная почта:</strong><br>
    <a href="mailto:sale@basislit.ru">sale@basislit.ru</a>
</address>





