@{
    ViewBag.Title = "Контакты";
}

@section navigation{
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Прайс", "Index")</li>
    <li class="active">@Html.ActionLink("Контакты", "Info")</li>
    <li>@Html.ActionLink("О компании", "About")</li>
</ul>
}



<section style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Контакты</h2>
                <br/>
                <ul class="list-unstyled" style="font-size: 18px;">
                    <li><span class="glyphicon glyphicon-phone-alt"></span> +7 (929) 931-37-28</li>
                </ul>
            </div>
        </div>
    </div>
</section>  



