@{
    ViewBag.Title = "Контакты";
}

@section navigation{
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Прайс", "Index")</li>
    <li class="active">@Html.ActionLink("Контакты", "Info")</li>
    <li>@Html.ActionLink("О компании", "About")</li>
</ul>
}



<section style="padding-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Контакты</h2>
            </div>
        </div>
    </div>
</section>  



