<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrapcss", "~/Content/commoncss")
</head>
<body>
      <div id="masthead">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 style="text-align: right;">
                        Высоколегированная сталь
                        <p class="lead">в слитках и заготовках для дальнейшего проката или ковки</p>
                    </h1>
                </div>
                <div class="col-md-5">
                    <div class="well well-lg">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="~/Content/polosa2.png" class="img-responsive">
                            </div>
                            <div class="col-sm-6">
                                Легированная сталь - это железоуглеродистый сплав, в состав которого введены специальные примеси 
                                для изменения основных свойств. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/container-->
    </div><!--/masthead-->
    <!--main-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-md-3" id="leftCol">
            @RenderSection("navigation")    
            </div><!--/left-->
            <!--right-->
            <div class="col-md-9">
                <div>
                    @RenderBody()
                </div>
                <hr>
                <footer class="footer">
                    <p>&copy; Basislit 2015 г.</p>
                </footer>
             </div><!--/right-->
        </div><!--/row-->
    </div><!--/container-->
</body>
</html>