@{
    ViewBag.Title = "О компании";
}

@section navigation{
    <ul class="nav nav-tabs">
        <li role="presentation">
            @Html.ActionLink("Прайс", "Index")
        </li>
        @*<li role="presentation">
                @Html.ActionLink("Титан", "Titan")
            </li>*@
        <li role="presentation" class="active">
            @Html.ActionLink("О компании", "About")
        </li>
    </ul>
}

<h3>О компании</h3>
<p>
    Наша компания представлена на рынке с 2012 года. Торгуем высоколигированными 
    сталями различных заводов производителей Псковской, Смоленской и Липецкой областей.
     Отгрузка товаров может осуществляться с накопительного склада в Обнинске. 
    Либо товар может доставляться непосредственно на склад покупателя.
</p>