@{
    ViewBag.Title = "Radex Metal Group";
}

@section navigation{
    <ul class="nav nav-tabs">
        <li role="presentation">
            @Html.ActionLink("Прайс", "Index")
        </li>
        <li role="presentation" class="active">
            @Html.ActionLink("Титан", "Titan")
        </li>
        <li role="presentation">
            @Html.ActionLink("О компании", "About")
        </li>
    </ul>
}

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="~/Content/Images/titan.jpg" alt="...">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Ферротитан ФТи70С05</h4>
        <p>Цена:  230  - 1 000  руб./кг</p>
        <p>Наличие на складе: в наличии</p>
        <p>Мин. размер заказа: 100 кг</p>
        <p>Условия оплаты: Различные условия оплаты</p>
        <p>Доставка: Доставка различным видом транспорта</p>
    </div>
    <p style="margin-top: 20px;">
        Предлагаем приобрести различные марки ферротитана: ФТи35, ФТи35С05, ФТи35С07, ФТи35С08, ФТи70С05, ФТи70С1. Возможна поставка любой фракции. Упаковка - биг-бэг или бочка.
        Ферротитан. В настоящее время повышение качества продукции при невысоком увеличении физических объемов производства стало главным направлением в развитии черной металлургии. На многих предприятиях ведется производство конструкционных материалов с меньшим уровнем металлоемкости, но увеличенным процентом механических свойств, благодаря введению легирующих элементов в расплав.
        Иногда такие элементы вводятся в чистом виде, намного чаще используются сплавы железа и легирующих элементов – ферросплавы. Одним из наиболее эффективных и распространенных ферросплавов считается ферротитан. Это легирующий сплав титана и железа.
        Такие химические элементы, как кремний, алюминий, фосфор, углерод, медь, сера, молибден, вольфрам, олово, так же присутствуют в сплаве. Предельное значение их концентраций определяется для каждой марки материалов индивидуально, в соответствии с ГОСТ.
    </p>
</div>

