@{
    ViewBag.Title = "О компании";
}

@section navigation{
    <ul class="nav nav-pills">
        <li class="">@Html.ActionLink("Прайс", "Index")</li>
        <li class="active">@Html.ActionLink("Вывоз/Доставка", "About")</li>
        <li class="">@Html.ActionLink("Контакты", "Info")</li>
        </ul>
}
  
<h2>Вывоз/Доставка</h2>
<p>
    Предлагаемые компанией заготовки можно забрать самостоятельно (самовывоз) 
    с наших собственных складов в Одинцово, Подольске или Обнинске.
    При минимальной партии от 10 тонн возможна доставка. Цена доставки договорная.
</p>