@{
    ViewBag.Title = "Контакты";
}

@section navigation{
    <ul class="nav nav-pills">
        <li class="">@Html.ActionLink("Прайс", "Index")</li>
        <li class="">@Html.ActionLink("О компании", "About")</li>
        <li class="active">@Html.ActionLink("Контакты", "Info")</li>
    </ul>
}

<h2>Контакты</h2>
