@{
    ViewBag.Title = "Контакты";
}

@section navigation{
    <ul class="nav nav-pills">
        <li class="">@Html.ActionLink("Прайс", "Index")</li>
        <li class="">@Html.ActionLink("О компании", "About")</li>
        <li class="active">@Html.ActionLink("Контакты", "Info")</li>
    </ul>
}

<h2>Контакты</h2>

<address>
    <strong>Телефон:</strong><br>
    +7 (967) 251-73-92
</address>

<address>
    <strong>Электронная почта:</strong><br>
    <a href="mailto:general@paritetprom.su">general@paritetprom.su</a>
</address>