div.container {
    width: 800px;
}

div.image-row{
    padding-top: 70px;
    padding-left: 10px;
    height: 200px;
    width: 800px;
    background: url(bg.jpg);
    border-radius: 5px;
    /*padding-left: 10px;*/
    padding-right: 10px;
}
h3, h5 {
    text-shadow: 3px 3px 3px black;
    color: whitesmoke;
}
